.MainDivide{
 	height: 40vh;
	width: 40vw;
  border: 5px inset gray;
  border-radius: 2vmin;
  display:block;
}
.Timers{
  color:white;
}
.nav{
    height:6.5vh;
    width:110vw;

}
.UIPage{
    background-image:url("RobotUIBackground.png");
    background-size:100vw 100vh;
    background-repeat: no-repeat;
}
.Tabs{
    height:6.5vh;
    width:6.5vw;
    font-size:2.2vmin;
    color:white;
}
#ThisTab{
    height:6.5vh;
    width:5.5vw;
    font-size:2.2vmin;
    color:black;
    background-color:;

}
#ForkliftControls{
    position: fixed;
    top: 8vh;
    left: 1vw;
    width: 58vw;
}
#ButtonBox2{
    position: fixed;
    top: 8vh;
    right: 1vw;
 	  width: 22vw;
}
#RobotDiagram{
    position: fixed;
    bottom: 1vh;
    left: 1vw;

}
#AutoBox{
    position: fixed;
    bottom: 1vh;
    right: 1vw;
}
#Checklist{
    position: fixed;
    top:80vh;
    bottom: 2vh;
    left:41vw;
    right: 41vw;
    border: 1.5px solid black;
    margin:auto;
    height: 20vh;
    width: 18vw;
    font-size:1.5vmax;

}
#GyroStuff{
    position: fixed;
    top:60vh;
    bottom: 22vh;
    left:41vw;
    right: 41vw;
    border: 1.5px solid black;
    margin:auto;
    height: 20vh;
    width: 18vw;
    font-size:1.5vmax;

}
#GameTimer{
    position: fixed;
    top: 8vh;
    bottom: 72vh;
    left:59vw;
    right: 23vw;
    border: 5px inset gray;
    border-radius: 2vmin;
    margin:auto;
}
#SpareBox{
    position: fixed;
    top: 28vh;
    bottom: 52vh;
    left:59vw;
    right: 23vw;
    border: 1.5px solid black;
    margin:auto;
    height: 20vh;
    width: 18vw;
    font-size:1.5vmax;

}
.settingsBox{
  overflow:scroll;
  height: 45vh;
  width: 40vw;
  border: 5px inset grey;
  border-radius: 2vmin;
  display:block;
  position: fixed;
  top: 7.5vh;
  left: 1vw;
}
#settingsBox{
    position: fixed;
    bottom: 20px;
    right: 10px;
    float:left;
}
#SubmitRobospeed{
    position: fixed;
    top:40vh;
    left:21vw;
    height:4vh;
    width:7vw;
}
#myForm{
  font-size:2.25vmin;
}
#Robospeed1{
  position: fixed;
  top:38vh;
  left:9vw;
  height:4vh;
  width:11.5vw;
}
#Robospeed2{
  position: fixed;
  top:42vh;
  left:9vw;
  height:4vh;
  width:11.5vw;
}
* {

}

button {
   	height:13vh;
	  width:7vw;
    margin:0.5vmin;
  	display:inline;
    font-size:1.5vmax;
}
. {
	height: 20px;
	width: 90px;
	border: none;
  	display:block;
}
select {
	height:26vh;
	width: 35vw;
	border: 1vmin none;
	margin:1vmin;
  	display:inline-block;
	font-size:50px;

}

.Atonpageselect {
  height:38vh;
  width: 39vw;
  border: 1vmin none;
  margin:1vmin;
    display:inline-block;
  font-size:50px;

}

.RoboPhoto {
	height: 80px;
	width: 800px;

}
.gap{
  height: 20px;
  width:10px;
  margin:auto;
}

#Settings{
  height: 250px;
  width: 550px;
  border: 1.5px solid black;
  display:inline-block;
}
#TimerButton{
   	height:6vh;
	  width:10vw;
    margin:auto;
    position: fixed;
    top: 6vh;
    bottom: 60vh;
    left:60vw;
    right: 24vw;
  	display:inline-block;
    font-size:1.25vmax;
}
#Timetilldoom{

  position: fixed;
  top: 12vh;
  bottom: 63vh;
  left:63vw;
  right: 27vw;
  font-size: 1.5vmax;
}
#dog
{
    position:relative;
    top:0px;
    right:-128px;
    height:19px;
}
#do
{
    position:relative;
    top:0px;
    right:-185px;
    height:19px;
}
#circle
{

    position:relative;
    height:20px;
    right:-175px;
    top:-45px;
}
#circle1
{
    position:relative;
    height:20px;
    right:-95px;
    top:-45px;
}
.part{
    visibility:hidden;
.topDown
{
  background-image: url(topDownImage.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 20vw;
  height: 20vh;

}
.rotate {
   transform: rotate(0deg);


}
.topDown { background-image: url(topDownImage.png);
   background-repeat: no-repeat;
   background-position: center;
   width: 20vw;
   height: 20vh; }
.rotate { -webkit-transform: rotate(0deg); }
